<% provide:title, t("static-pages.users.new.user_index") %>
<h1><%= t "static-pages.users.new.user_index" %></h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
